name: Build All

on:
  workflow_dispatch:
  pull_request:
  push:

env:
  CMAKE_BUILD_PARALLEL_LEVEL: 2

jobs:
  build:
    name: Build on Linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v6

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build

      - name: Build
        run: cmake --build ${{github.workspace}}/build --parallel ${{env.CMAKE_BUILD_PARALLEL_LEVEL}}
